@page "/student/assignmentpage/{AssignmentID:int}"
@inject AssignmentAgent _assignmentAgent
@inject GradeAgent _gradeagent
@inject IdentityAgent _identity
@inject IToaster Toaster
@using BlazorInputFile
<h1>Assignment</h1>
@if (_assignment == null)
{
    <h3> Assignment is Null</h3>
}
else
{

    <h2><b>Title: </b>@_assignment.AssignmentTitle   <b>CourseID: </b> @_assignment.CourseID  </h2>
    <h4> <b>Assignment Type: </b>@_assignment.AssignmentType.</h4>
    <h4> <b> Assignment Description: </b> @_assignment.AssignmentDescription</h4>
    <h4> <b> Assignment Due Date: </b>@_assignment.DueDate.</h4>
    <h4> <b> Total Points: </b>@_assignment.TotalPossible<b></b></h4>

    if (grade != null)
    {
        <h3> Assignment Submited </h3>
    }
    else
    {

        <EditForm Model="_grade" OnValidSubmit="update">
            <ValidationSummary />
            <DataAnnotationsValidator />
            @if (!_assignment.IsFile)
            {
                <div> Please Enter Text:  <InputTextArea @bind-Value="_grade.TextSubmission" rows="20" cols="50">Please enter text</InputTextArea></div>
            }
            else
            {
                <div>Please Upload File  <InputFile OnChange="HandleFileSelected"></InputFile></div>
            }
            <div><button class="btn-primary" type="submit">Save</button></div>
        </EditForm>
    }

}

@code {

    [Parameter]
    public int AssignmentID { set; get; }
    public Assignment _assignment;
    public TempGrade _grade = new TempGrade();
    public TempGrade grade;
    IFileListEntry file;
    public int userId;


    protected override async Task OnInitializedAsync()
    {

        userId = await _identity.GetId();
        _assignment = await _assignmentAgent.GetAssignment(AssignmentID);

    }

    private async Task update()
    {
        Console.WriteLine("OnValidSubmit");
        _grade.AssignmentID = _assignment.AssignmentID;
        _grade.UserID = userId;
        _grade.IsFile = _assignment.IsFile;
        grade = await _gradeagent.SubmitAssignment(_grade);
    }

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        // Here is where the file will be uploaded to the server and a url will be given as a response
        var gradeFile = await ReadFully(file.Data);

        FileAssignment FileToUpload = new FileAssignment();
        FileToUpload.Data = gradeFile;
        FileToUpload.Name = userId + AssignmentID.ToString() + file.Name;
        FileToUpload = await _gradeagent.UploadAssignmentFile(FileToUpload);


        if(FileToUpload.URL != null)
        {
            Toaster.Success("Assignment successfully uploaded");
            _grade.FileURl = FileToUpload.URL;

        }
        else
        {
            Toaster.Error("Assignment upload error");
        }
        
    }

    public async Task<byte[]> ReadFully(System.IO.Stream input)
    {
        byte[] buffer = new byte[16 * 1024];
        using (System.IO.MemoryStream ms = new System.IO.MemoryStream())
        {
            int read;
            while ((read = await input.ReadAsync(buffer, 0, buffer.Length)) > 0)
            {
                ms.Write(buffer, 0, read);
            }
            return ms.ToArray();
        }
    }
}
