@inject CoursesAgent  _coursesAgent

@if (_coursesvar == null)
{
    <p>Loading...</p>
}
else
{
    <h1>Teacher Homepage</h1>
    <h2>Courses taught</h2>

    <!--Course list-->
    <ul class="list-group" style="width:50%">
        <li class="list-group-item active">

            <div class="row">
                <div class="col">
                    <h5>Course ID</h5>
                </div>
                <div class="col">
                    <h5>Course Description</h5>
                </div>
            </div>
        </li>
        @foreach (var course in _coursesvar)
        {

            <a href="#" class="list-group-item list-group-item-action">

                <div class="row">
                    <div class="col">
                        @course.CourseID
                    </div>
                    <div class="col">
                        @course.Description
                    </div>
                </div>
            </a>
        }

    </ul>

    <!--What assignments to grade-->
    <h2>Assignments to grade</h2>
    <ul class="list-group" style="width:70%">
        <li class="list-group-item active">

            <div class="row">
                <div class="col">
                    <h5>Course ID</h5>
                </div>
                <div class="col">
                    <h5>Assignment</h5>
                </div>
                <div class="col">
                    <h6>Number left to grade</h6>
                </div>
            </div>
        </li>
        @for (int i = 0; i < 5; i++)
        {
            <a href="#" class="list-group-item list-group-item-action">

                <div class="row">
                    <div class="col">
                        Course id and description
                    </div>
                    <div class="col">
                        Assignment @i
                    </div>
                    <div class="col">
                        @random.Next(0, 100)
                    </div>
                </div>
            </a>
        }

    </ul>

    <!--Coming up-->
    <h2>Coming up</h2>
    <ul class="list-group" style="width:100%">
        <li class="list-group-item active">

            <div class="row">
                <div class="col">
                    <h5>Course ID</h5>
                </div>
                <div class="col">
                    <h5>Due Date</h5>
                </div>
                <div class="col">
                    <h5>Description</h5>
                </div>
                <div class="col">
                    <h5>Type</h5>
                </div>

            </div>
        </li>
        @foreach (var assignment in _assignments)
        {
            <a href="#" class="list-group-item list-group-item-action">

                <div class="row">
                    <div class="col">
                        @assignment.CourseID
                    </div>
                    <div class="col">
                        @assignment.DueDate
                    </div>
                    <div class="col">
                        @assignment.AssignmentDescription
                    </div>
                    <div class="col">
                        @assignment.AssignmentType
                    </div>
                </div>
            </a>
        }

    </ul>

}


@code {
    Random random = new Random();
    private List<Course> _coursesvar;
    private List<Assignment> _assignments;

    protected override async Task OnInitializedAsync()
    {
        _coursesvar = await _coursesAgent.GetCoursesByTeacher();
        _assignments = await _coursesAgent.GetAssignemntsByTeacher();
    }

}
